<h1><%= @account.name %></h1>

Total Listings: <%= @account.account_entries.sum(:listing) %>
Total Cost: <%= number_to_currency((@account.account_entries.map &:cost).sum, precision: 2) %>

<h4>Account Entries</h4>

<div class="table">
	<table class="table table-striped">
	<tr>
		<thead>
			<th>Date</th>
			<th>Time</th>
			<th>Employee</th>
			<th>Listings</th>
		</thead>
	</tr>
		<% @account.account_entries.each do |entry| %>
		<tr>
			<td><%= entry.created_at.strftime('%m/%d/%y') %></td>
			<td><%= entry.created_at.strftime('%I:%M %p') %></td>
			<td><%= entry.employee.name %></td>
			<td><%= entry.listing %> Listings</td>
		</tr>
		<% end %>
	</table>
</div>


<button class="btn btn-sm btn-info">Home</button>
